[Desktop Entry]
Categories=Utility;
StartupWMClass=winbox.exe
Icon=${SNAP}/meta/gui/icon.png
Exec=wine-example
Name[en_US]=wine-example
Name=wine-example
X-DBUS-StartupType=multi
X-KDE-SubstituteUID=false
X-SnapInstanceName=winbox
Keywords=wine;
StartupNotify=false
Terminal=false
Type=Application
